extends ./layout/index

block contenido
    h1 #{pagina}
    main.container.mt-5 
        .row.proximos-viajes

        each Categoria in cate 
            a(href=`productos/${Categoria.id}`, class="btn btn-success btn-block")
                h2= Categoria.name
        //- p= JSON.stringify(cate)