extends ./layout/index

block contenido
    h1 #{pagina}
    main.container.mt-5 
        .row.proximos-viajes

        each Categoria in cate 
        


            

            a(href=`categoria/${Categoria.name}`, class="btn btn-success btn-block")
                h2= Categoria.id
        //- p= JSON.stringify(cate)