extends ./layout/index
block contenido
    h1 #{resultadodos.name}
        main.container.mt-5
            .row.proximos-viajes.justify-content-center
                .col-md-6.col-lg-4.mb-4
                    .card
                        img.card-img-top(src=`(Producto.url_image)`)
                    .card-body
                       
                        p $ #{resultadodos.price}
                                p Descuento #{resultadodos.discount} %